apiVersion: v1
kind: Secret
metadata:
  name: slack-client-configuration
  labels:
    app: slack-client
type: Opaque
data:
  botusertoken: ###BotUserToken in base64###
  verificationtoken: ###VerificationToken in base64###