## RENAME FILE AS secrets.yaml ###
apiVersion: v1
kind: Secret
metadata:
  name: slack-api-configuration
  labels:
    app: prod-slack-api
type: Opaque
data:
  botusertoken: ##
  verificationtoken: ##
